/* additional styling for Footer */
@media screen and (max-width: 540px) {
  .footer {
    min-width: fit-content;
  }
  body {
    width: fit-content;
  }
}

@media screen and (max-width: 565px) {
  .ul {
    display: block;
  }
}

@media screen and (min-width: 565px) {
  .ul {
    display: inline-flex;
  }
}
