.header {
  background-color: black;
  min-height: 200px;
  display: flex;
}

.heading {
  color: white;
  font-family: Garamond, serif;
  font-size: 50px;
  margin: 0 auto;
  line-height: 175px;
  margin-left: 10px;
}
