/* Navbar styling */
.nav {
  display: flex;
  justify-content: center;
}

.ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 20px;
}

.anchor {
  color: white;
  margin-right: 40px;
  text-decoration: none;
}

.anchorActive {
  color: rgb(0, 255, 179);
  margin-right: 40px;
  text-decoration: none;
}
