/* additional styling for Portfolio section */
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(4, 7, 118);
  background-size: cover;
  min-height: 250px;
  padding-top: 1px;
}
.card:hover .overlay {
  opacity: 1;
}

.card {
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

@media screen and (max-width: 960px) {
  .card {
    margin: auto;
    display: block;
    float: none;
    margin-bottom: 20px;
    min-width: 80%;
  }
}
